body {
    margin: 0;
}

#navbar {
    background-color: black;
    margin: 0;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    overflow: hidden;

}

ul li {
    display: inline;
    float: left;
}

li a {
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 30px;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

li a:hover {
    background-color: darkgreen;
}

#nav-title {
    align-items: center;
    color: white;
    padding: 0;
    margin: 0;
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#content {
    background-color: rgb(64,64,64);
}

#bg-img {
    background: url("music-bg.jpg") no-repeat center fixed;
    background-size: cover;
}

#title {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: plum;
}

.wht-txt {
    color: white;
}

#connect-btn {
    position: absolute;
    top: 50%;
    left: 42%;
    padding: 10px;
    font-size: 18px;
    background-color: blueviolet;
    border-radius: 25px;
    cursor: pointer;
    transition-duration: 0.5s;
    border-style: none;
    font-family: 'Courier New', Courier, monospace;
}

#connect-btn:hover {
    background-color: purple;
}

#galery {
    display: flex;
    flex-wrap: wrap;
}

#galery a {
    text-decoration: none;
    color: black;
    transition-duration: 0.5s;
}

#galery a:hover {
    background-color: rgb(32,32,32);
}

.galery-item {
    border: 1px solid black;
    margin: 20px;
    text-align: center;
}

.galery-img {
    width: 320px;
    height: 320px;
}

.playlist-title {
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
