{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'downloader/styles.css' %}">
    <title>Music Downloader</title>
</head>
<body id="bg-img">
    <h1 id="title">Spotify Music Downloader</h1>
    <div>
        <form action="{% url 'login' %}" method="post">
            <input id="connect-btn" type="submit" value="Connect to Spotify">
        </form>
        <button id="connect-btn">
            <h2 id="title">Connect to Spotify</h1>
        </button>
    </div>
</body>
</html>
