{% extends 'downloader/layout.html' %}

{% block body %}

    <div id="galery">
        {% for playlist in playlists %}
            {% if playlist.image %}
            <a href="{% url 'download' playlist.title %}">
                <div class="galery-item">
                    <img class="galery-img" src="{{ playlist.image }}">
                    <div class="playlist-title">
                        <h3>{{ playlist.title | title }}</h3>
                    </div>
                </div>
            </a>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}