{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'downloader/styles.css' %}">
    <title>Music Downlaoder</title>
</head>
<body>
    <div id="navbar">
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><h2 id="nav-title">Spotify Playlist Downloader</h2></li>
            <li style="float: right;"><a href="{% url 'connect' %}">Sign Out</a></li>
        </ul>
    </div>

    <div id="content">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>